*.iml
.gradle
/local.properties
/edgeagent_runtime.log
/edgeagent_logcat.pid
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/local_models/
/.kotlin/
.externalNativeBuild
.cxx
local.properties
